/* Ghost Code by William Anderson: https://codepen.io/william-index/pen/GpGdJm */


body {
  background: black;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

img{
  position: left;
}

/* Defines the entire ghost */
/* vh = viewport height --> units based on height of the viewport */
.ghost {
  display: block;
  width: 40vh;
  height: 40vh;
  background: #ffffff;
  border-radius: 50%;
  will-change: transform;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: bob 2s;
  animation: bob 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}


/* Defines the eyes and eye animation */
.eyes:after, .eyes:before {
  content: "";
  display: block;
  width: 2.5vh;
  height: 4vh;
  position: absolute;
  top: 7vh;
  left: 12vh;
  background: black;
  border-radius: 50%;
  will-change: margin;
  -webkit-animation: mbob 2s;
  animation: mbob 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

/* Defines the eye tilts */
.eyes:before {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.eyes:after {
  left: auto;
  right: 12vh;
  -webkit-transform: rotate(-200deg);
  transform: rotate(-20deg);
}


/* Defines the mouth and mouth animation */
.mouth {
  display: block;
  width: 13vh;
  height: 5.25vh;
  margin: 15vh auto;
  margin-left: 20.5vh;
  position: relative;
  -webkit-animation: bob 2s;
  animation: bob 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

/* Defines the way each part of the mouth looks --> made of six vertical ellipses */
.mouth__part {
  display: block;
  width: 3vh;
  height: 5vh;
  border: 0vh solid;
  margin: -0.5vh;
  float: left;
  position: relative;
  background: black;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* Defines the slight arch in the mouth */
.mouth__part:nth-child(2),
.mouth__part:nth-child(5) {
  margin-top: -0.85vh;
}

.mouth__part:nth-child(3),
.mouth__part:nth-child(4) {
  margin-top: -1vh;
}

/* Defines the "blood" in the mouth and its animation*/
.bubble {
  display: block;
  width: 1vh;
  height: 1vh;
  background: red;
  position: absolute;
  bottom: -0.3vh;
  left: 0;
  border-radius: 50%;
  margin-top: 100px;
  -webkit-animation: bob-bot 2s;
  animation: bob-bot 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

/* Defines where the "blood" goes in the mouth */
.bubble.low {
  bottom: -0.5vh;
  left: 0.3vh;
}

.bubble:nth-child(2) {
  display: block;
  width: 2vh;
  height: 2vh;
  bottom: -1vh;
  left: 0.5vh;
}
.bubble:nth-child(2).low {
  bottom: -1.5vh;
}


/* Creates the blood drip from the mouth */
.blood-drips__drip {
  display: block;
  width: 1vh;
  height: 1vh;
  background: red;
  position: absolute;
  bottom: 0.2vh;
  right: 2vh;
  border-radius: 50%;
  -webkit-animation: drip 1s ease-in;
  animation: drip 1s ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Defines the arms */
.arm {
  display: block;
  width: 5vh;
  height: 8vh;
  position: absolute;
  top: 16vh;
  left: 0vh;
  background: white;
  border-radius: 50%;
  -webkit-transform-origin: center top;
  transform-origin: center top;
}


/* Defines the arms animation in addition to its shadow */
/* Left Arm w/ shadow */
.arm:nth-child(1) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  border-right: 1vh solid #b8b8b8;
  -webkit-animation: left-arm-wobble 1s ease-in;
  animation: left-arm-wobble 1s ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

/* Right Arm w/ shadow */
.arm:nth-child(2) {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  border-left: 1vh solid #b8b8b8;
  left: auto;
  right: 0vh;
  -webkit-animation: right-arm-wobble 1s ease-in;
  animation: right-arm-wobble 1s ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}


/* Defines the shadow beneath the ghost */
.shadow {
  display: block;
  width: 30vh;
  height: 3.5vh;
  background: #8f0000;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 68vh;
  -webkit-animation: shadow 2s;
  animation: shadow 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

/* Defines how the shadow scales */
@-webkit-keyframes shadow {
  from {
    -webkit-transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes shadow {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}



/* Defines the positions of the ghost when it bobs */
@-webkit-keyframes bob {
  from {
    -webkit-transform: translateY(-70%) translateX(-50%);
  }
  to {
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
}
@keyframes bob {
  from {
    -webkit-transform: translateY(-70%) translateX(-50%);
    transform: translateY(-70%) translateX(-50%);
  }
  to {
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
}




/* Defines the positions of the eyes when it bobs */
@-webkit-keyframes mbob {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -1vh;
  }
}
@keyframes mbob {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -1vh;
  }
}


/* Defines the positions of the "blood" when it bobs */
@-webkit-keyframes bob-bot {
  from {
    -webkit-transform: translateY(0vh) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(-0.5vh) rotate(360deg);
  }
}
@keyframes bob-bot {
  from {
    -webkit-transform: translateY(0vh) rotate(0deg);
    transform: translateY(0vh) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(-0.5vh) rotate(360deg);
    transform: translateY(-0.5vh) rotate(360deg);
  }
}



/* Defines the positions of the dripping "blood" when it bobs */
@-webkit-keyframes drip {
  from {
    -webkit-transform: translateY(0vh);
  }
  to {
    -webkit-transform: translateY(5vh);
  }
}
@keyframes drip {
  from {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
  }
  to {
    -webkit-transform: translateY(5vh);
    transform: translateY(5vh);
  }
}



/* Defines the positions of the left arm when it bobs */
@-webkit-keyframes left-arm-wobble {
  from {
    -webkit-transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(30deg);
  }
}
@keyframes left-arm-wobble {
  from {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}



/* Defines the positions of the rigt arm when it bobs */
@-webkit-keyframes right-arm-wobble {
  from {
    -webkit-transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
  }
}
@keyframes right-arm-wobble {
  from {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}
