/**Spider by WebDev SHORTS: https://www.youtube.com/watch?v=52tQqP0T14U**/

/*determine how far up the spider goes during mouse hover*/
html:hover .spider {
    top: -120%;
}

/*defines the entire spider*/
.spider {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 47.5%;

    /* 4. Animatie */
    animation: swing 2s infinite;
    transform-origin: top;

    /* Bonus */
    transition: 1s ease-in-out;
}

/*defines the spider web*/
.spider .spiderweb {
    width: 2px;
    height: 455px;
    margin-left: 49px;
    background: rgba(255,255,255, .7);
}


/*defines the spider body*/
.spider .body {
    width: 100px;
    height: 80px;
    background: #000;
    position: relative;
    border-radius: 50%;
}


/*defines both eyes*/
.spider .body .eye {
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 20px;
    background: #fff;
    border-radius: 50%;
}

/*defines left eye*/
.spider .body .eye.left {
    left: 15px;
}

/*defines right eye*/
.spider .body .eye.right {
    right: 15px;
}

/*defines eye animation*/
.spider .body .eye:after {
    background: #000;
    width: 7px;
    height: 7px;
    content: '';
    display: block;
    margin: 55%;
    border-radius: 50%;

    /* 3. Animatie */
    animation: look 8s infinite;
}

/*defines the spider's legs*/
.spider .legs .leg {
    width: 80px;
    height: 50px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color: #000;
    border-radius: 40px 40px 0 0;
}

/*defines both legs*/
.spider .legs {
    position: absolute;
    bottom: -9%;
    z-index: -1;
}

/*defines left leg*/
.spider .legs.left {
    left: -70%;
}
/*defines right leg*/
.spider .legs.right {
    right: -60%;
}


/*creates all 8 legs -> four left & four right*/
.legs.left .leg:nth-child(1){
    transform: rotate(10deg);
    margin-left: 10px;
}
.legs.right .leg:nth-child(1){
    transform: rotate(-10deg);
    margin-left: -10px;
}

.legs.left .leg:nth-child(2){
    transform: rotate(-20deg);
    margin-left: 20px;
}
.legs.right .leg:nth-child(2){
    transform: rotate(20deg);
    margin-left: -20px;
}

.legs.left .leg:nth-child(3){
    transform: rotate(-50deg);
    margin-left: 30px;
}
.legs.right .leg:nth-child(3){
    transform: rotate(50deg);
    margin-left: -30px;
}
.legs.left .leg:nth-child(4){
    transform: rotate(-60deg);
    margin-left: 40px;
}
.legs.right .leg:nth-child(4){
    transform: rotate(60deg);
    margin-left: -40px;
}

/* 1. Animatie */
@keyframes look {
    0%, 40%, 100% {
        transform: translateX(0); 
    }

    45%, 95% {
        transform: translateX(-100%);
    }
}


/* 3. Animatie */
@keyframes swing {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}